beautifulsoup4
boto
boto3
cython
dask
dropbox
flask
h5py
imutils~=0.5.4
json_minify
keras
matplotlib
pantilthat
pillow
progressbar2
pytesseract
pyHS100
python-dateutil
pyttsx3
pyzbar
numpy~=1.21.5
scikit-learn~=1.0.2
scikit-image
scipy
sh
subprocess32
tensorflow~=2.0.0
tinydb
twilio
zmq
pyserial
opencv-python~=4.5.5.64
gtts~=2.2.4